name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install flet

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"

      - name: Build APK via Flet
        run: |
          # Apontamos para o arquivo na raiz
          flet build apk --project main.py --product "Gestor Facil" --org "com.gestorfacil.mobile" --verbose

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: gestor-facil-apk
          path: build/apk/app-release.apk
